<template>
  <div class="add-edit-todo">
    <modal-component>
      <h3 slot="header">Add new ToDo</h3>
      <div slot="body">
        <ToDoItem
          :propData="toDoItem"
          :editMode="true"
          v-on:submit="submit($event)"
          v-on:cancel="showModal=true"
        />
      </div>
      <div slot="footer"></div>
    </modal-component>
    <modal-component
      v-if="showModal"
      v-on:modal-submit="goHome()"
      v-on:modal-cancel="showModal = false;"
    >
      <h3 slot="header">Cancel add to do?</h3>
    </modal-component>
  </div>
</template>

<script lang="ts">
import { Component, Prop, Vue, Watch } from "vue-property-decorator";
import { ToDo } from "../types";
import ToDoItem from "./ToDoItem.vue";
import store from "../store/index";
import router from "vue-router";
@Component({
  components: { ToDoItem }
})
export default class AddEditToDo extends Vue {
  private toDoItem: ToDo = new ToDo(new Date().getTime(), "Новая заметка", []);

  showModal: boolean;
  constructor() {
    super();
    this.showModal = false;
  }

  submit(data: ToDo): void {
    store.dispatch("addToDo", data);
    this.goHome();
  }

  @Watch("$route", { immediate: true, deep: true })
  onUrlChange(newVal: any) {
    if (newVal.name === "edit") {
      const toDo: ToDo = store.state.todoList.find(
        (i: ToDo) => i.id == newVal.params.id
      ) as ToDo;

      if (toDo) {
        // Так как это сложный объект и содержит массив задач,
        // нужно все скопировать чтобы не изменять
        // данные в родительском компоненте, а также сохранить реактивность
        const clone: ToDo = new ToDo(
          toDo.id,
          toDo.name,
          JSON.parse(JSON.stringify(toDo.tasks))
        );
        this.toDoItem = clone;
      }
    }
  }

  goHome(): void {
    this.$router.push({ path: "/" });
  }
}
</script>

<style scoped>
</style>
