 <template>
  <div class="todo-item" v-if="model">
    <strong class="header" v-if="!editMode">
      {{model.name}}
      <div class="actions">
        <router-link :to="{ name: 'edit', params: { id: model.id }}">
          <i class="fa fa-pencil"></i>
        </router-link>
        <button class="btn remove" @click="$emit('remove', model)">
          <i class="fa fa-close"></i>
        </button>
      </div>
    </strong>

    <div class="edit-task" v-if="editMode">
      <label>Name</label>
      <form @submit.prevent="add">
        <input required type="text" v-model="model.name" @change="registerHistory()" />
        <label>Task Name</label>
        <div class="add-task" v-if="model.name">
          <input required type="text" v-model="taskName" />
          <button class="btn-standart" type="submit" :disabled="!taskName">
            <i :class="currentTask ? 'fa fa-check' : 'fa fa-plus'"></i>
          </button>
        </div>
        <div class="actions">
          <button
            type="button"
            title="Undo"
            :disabled="currentStep==0"
            class="btn-standart"
            @click="undo()"
          >
            <i class="fa fa-undo"></i>
          </button>&nbsp;
          <button
            :disabled="currentStep==history.length-1||history.length==0"
            type="button"
            title="Redo"
            class="btn-standart"
            @click="redo()"
          >
            <i class="fa fa-repeat"></i>
          </button>
        </div>
      </form>
    </div>
    <ul class="task-list">
      <li :key="task.id" v-for="task in model.tasks">
        <div>
          <input :disabled="!editMode" type="checkbox" v-model="task.complete" />
          <span @click="selectItem(task)">{{task.name}}</span>
        </div>
        <div class="actions">
          <button v-if="editMode" class="btn remove" @click="remove(task.id)">
            <i class="fa fa-close"></i>
          </button>
        </div>
      </li>
    </ul>
    <ul v-show="false">
      <li :key="index" @click="recoverHistory(index)" v-for="(h, index) in history">
        <span>{{h}}</span>
      </li>
    </ul>
    <div v-if="editMode" class="actions">
      <button :disabled="!validationForm" class="btn-standart" @click="$emit('submit', model)">Ok</button>&nbsp;
      <button class="btn-standart" @click="$emit('cancel')">Cancel</button>
    </div>
  </div>
</template>

<script lang="ts">
import { Component, Prop, Vue, Watch } from "vue-property-decorator";
import { ToDo } from "../types";
import { TaskType } from "../types";
@Component
export default class ToDoItem extends Vue {
  @Prop() private propData!: ToDo;
  @Prop() private editMode!: boolean;

  private taskName: string;
  private currentTask: TaskType | any = null;
  private history: Array<any> = [];
  private currentStep: number;
  private watchOff!: boolean;
  constructor() {
    super();
    this.taskName = "";
    this.currentStep = 0;
  }

  get model() {
    return this.propData;
  }

  /**
   * Следим за изменениями данных
   * и сохранем историю изменений
   */
  @Watch("model.tasks", { deep: true })
  onChange() {
    if (this.watchOff) return;
    this.registerHistory();
  }

  /**
   * Проверка заполнения формы
   */
  get validationForm() {
    const result: boolean =
      this.model.tasks.length > 0 && this.model.name != "";
    this.$emit("validation", result);
    return result;
  }

  undo(): void {
    if (this.currentStep > 0) this.currentStep--;
    this.recoverHistory(this.currentStep);
  }

  redo(): void {
    if (this.currentStep < this.history.length - 1) this.currentStep++;
    this.recoverHistory(this.currentStep);
  }

  /**
   * Регистрация действий
   */
  registerHistory(): void {
    const data = {
      name: this.model.name,
      tasks: JSON.parse(JSON.stringify(this.model.tasks))
    };

    if (JSON.stringify(this.history[this.history.length - 1]) == JSON.stringify(data)) return;

    this.history.splice(
      this.currentStep + 1,
      this.history.length - this.currentStep
    );

    this.history.push(data);
    this.currentStep = this.history.length - 1;
  }

  /**
   * Восстановление данных из истории изменений
   */
  recoverHistory(i: number): void {
    this.watchOff = true;
    this.model.name = this.history[i].name;
    this.model.tasks = JSON.parse(JSON.stringify(this.history[i].tasks));
    this.currentStep = i;
    this.$nextTick().then(() => {
      this.watchOff = false;
    });
  }

  selectItem(item: TaskType) {
    if (item === this.currentTask) {
      this.resetForm();
      return;
    }
    this.currentTask = item;
    this.taskName = item.name;
  }

  add(): void {
    const id: number = new Date().getTime();
    if (this.currentTask) {
      this.currentTask.name = this.taskName;
    } else this.model.add(id, this.taskName, false);
    this.resetForm();
  }

  remove(id: number): void {
    this.model.remove(id);
    this.resetForm();
  }

  resetForm(): void {
    this.taskName = "";
    this.currentTask = null;
  }

  mounted() {
    this.registerHistory();
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.todo-list .task-list {
  background: #fff;
  max-height: 300px;
  overflow: auto;
  margin-top: 10px;
  display: block;
}

.todo-list .task-list li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
  cursor: pointer;
}

.todo-list .header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

input[type="text"] {
  display: block;
  width: 100%;
  height: calc(1.5em + 0.75rem + 2px);
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

input[type="text"]:focus {
  color: #495057;
  background-color: #fff;
  border-color: #80bdff;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.add-task {
  display: flex;
  margin-bottom: 5px;
  align-items: center;
}

.add-task input {
  margin-right: 5px;
}
label {
  margin-top: 5px;
  margin-bottom: 5px;
  display: block;
}
</style>
