<template>
  <div class="todo-list">
    <h1>{{ model.length===0 ? 'ToDo list is empty...' : 'My ToDo List'}}</h1>
    <ul>
      <li :key="todo.id" v-for="todo in model">
        <ToDoItem :propData="todo" v-on:remove="openModal($event)" />
      </li>
    </ul>
    <modal-component
      v-if="showModal"
      v-on:modal-submit="remove(currentItem.id)"
      v-on:modal-cancel="showModal = false;"
    >
      <h3 slot="header">Remove "{{currentItem.name}}"?</h3>
    </modal-component>
    <router-view></router-view>
  </div>
</template>

<script lang="ts">
import { Component, Prop, Vue } from "vue-property-decorator";
import { ToDo } from "../types";
import ToDoItem from "./ToDoItem.vue";
import store from "../store/index";
@Component({
  components: {
    ToDoItem
  }
})
export default class ToDoList extends Vue {
  private showModal!: boolean;
  private currentItem!: ToDo;

  get model(): Array<ToDo> {
    return store.getters.getToDoList;
  }

  remove(id: number): void {
    store.dispatch("removeToDo", id);
    this.showModal = false;
  }

  openModal(item: ToDo): void {
    this.currentItem = item;
    this.showModal = true;
  }

  constructor() {
    super();
    this.showModal = false;
    store.dispatch("loadLocalStorage");
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.todo-list > ul {
  display: inline-block;
}
.todo-list > ul > li {
  display: inline-block;
  width: 300px;
  padding: 10px 15px;
  background: #9ce0ff;
  border-radius: 5px;
  box-shadow: 7px 9px 11px #ccc;
  border: 1px solid #ccc;
  margin-bottom: 15px;
  margin: 5px;
  vertical-align: top;
}
</style>
