<template>
  <div id="app">
    <header>
      <div class="content">
        <div class="logo">
          <router-link to="/">
            <img src="./assets/logo.png" alt="todo app" />
            <span>ToDo App</span>
          </router-link>
        </div>
        <ul class="menu">
          <li>
            <router-link to="/add-todo">
              <i class="fa fa-plus"></i>&nbsp;Add ToDo
            </router-link>
          </li>
        </ul>
      </div>
    </header>
    <div class="content">
      <router-view></router-view>
    </div>
  </div>
</template>

<script lang="ts">
import "@/assets/css/font-awesome.min.css";
import { Component, Vue } from "vue-property-decorator";
import { ToDo } from "./types";
@Component
export default class App extends Vue {
}
</script>

<style>
* {
  box-sizing: border-box;
}

img {
  display: block;
}

body {
  padding: 0;
  margin: 0;
  background: #f8f8f8;
}

#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;
}

.content {
  max-width: 1000px;
  margin: 0 auto;
}

a {
  text-decoration: none;
  color: #304455;
}

ul {
  list-style-type: none;
  padding: 0;
}

header {
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.25);
  background: #fff;
}

header .content {
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header .logo a {
  display: flex;
  align-items: center;
  font-size: 21px;
  font-family: Tahoma;
}

header .logo img {
  width: 40px;
  margin-right: 5px;
}

.btn {
  background: none;
  border: 0;
  cursor: pointer;
  color: #000;
}


.btn-standart {
  display: inline-block;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  color: #fff;
  background-color: #007bff;
  border-color: #007bff;
}

.btn-standart:hover {
  color: #fff;
  background-color: #0069d9;
  border-color: #0062cc;
}
.btn-standart:disabled {
  background: #ccc;
  pointer-events: none;
  border: 0;
}
</style>
